.left-drawer {
  @include background-gradient-appbar();

  height: calc(100% - 72px);
  padding-bottom: 0 !important;
}

.logo-drawer {
  img {
    margin: 0 auto;
    width: 100%;
    max-width: 50px;
  }
}

.group-list-drawer {
  height: 80px;
  background: transparent !important;
}

.child-drawer {
  background-color: #3c516d;
}

.left-drawer-item {
  a {
    height: 85px !important;
  }
}
