<template>
  <v-toolbar fixed app :clipped-left="clipped" light :height="($store.state.less600 ? 56 : 72)" dark style="background-color: #192537">
    <v-toolbar-side-icon @click.stop="isDrawer = !isDrawer" ></v-toolbar-side-icon>
    <v-btn icon @click.stop="isMiniVariant = !isMiniVariant" class="hidden-sm-and-down">
      <v-icon v-html="isMiniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
    </v-btn>
    <v-btn icon @click.stop="isClipped = !isClipped" class="hidden-sm-and-down">
      <v-icon>web</v-icon>
    </v-btn>

    <!--<v-toolbar-title style="width: 110px" class="ml-0 pl-3">
      <span class="hidden-sm-and-down">APP</span>
    </v-toolbar-title>-->

    <!--<v-text-field
      flat
      solo-inverted
      prepend-icon="search"
      label="Search"
      class="hidden-sm-and-down"
    />-->
    <v-spacer></v-spacer>

    <v-toolbar-items style="margin-right: 0" class="hidden-sm-and-down">
      <v-btn flat small>
        <div class="btn-top-bar">
          <v-icon>person</v-icon>
          <span class="block text-normal">Soporte</span>
        </div>
      </v-btn>
    <v-menu :style="{ width: $store.state.less600 ? '50px' : 'auto' }" bottom left offset-y origin="top left" transition="v-slide-y-transition" max-height="300" max-width="600" :closeOnContentClick="false">
      <v-btn slot="activator" flat small>
        <div class="btn-top-bar">
          <v-badge color="red">
            <span slot="badge" small>0</span>
            <v-icon>notifications</v-icon>
          </v-badge>
          <span class="block text-normal">Notificaciones</span>
        </div>
      </v-btn>
      <v-list two-line>
        <template  v-for="(item, i) in notifications" >
          <v-list-tile ripple :key="i">
            <v-list-tile-avatar>
              <img src="../../assets/images/logo.png">
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{item.title}}</v-list-tile-title>
              <v-list-tile-sub-title v-html="item.commId ? '' : item.body"></v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon ripple>
                <v-icon class="red--text">close</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider v-if="i + 1 < notifications.length"></v-divider>
        </template >
      </v-list>
    </v-menu>

    <v-menu offset-y>
      <v-btn slot="activator" flat small>
        <div class="btn-top-bar">
          <v-icon>person</v-icon>
          <span class="block text-normal ">Cuenta</span>
        </div>
      </v-btn>
      <v-list>
        <v-list-tile @click="signout">
          <v-list-tile-title>Mi cuenta</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="signout">
          <v-list-tile-title>Cerrar sesión</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    </v-toolbar-items>
  </v-toolbar>
</template>
<script>

export default {
  props: {
    clipped: Boolean,
    miniVariant: Boolean,
    drawer: Boolean,
    rightDrawer: Boolean,
    fixed: Boolean,
  },
  data() {
    return {
      locales: ['en', 'es'],
      isDrawer: this.drawer,
      isClipped: this.clipped,
      isFixed: this.fixed,
      isMiniVariant: this.miniVariant,
      isRightDrawer: this.rightDrawer,
      less600: false,
      items: [
        { title: 'Inicio', to: '/' },
        // { title: 'Beneficios', to: '/greats' },
        { title: 'Directorio', to: '/directory/contact' },
        { title: 'Institución', to: '/general/institution' },
      ],
      notifications: [
        { title: 'Notificación 1' },
        { title: 'Notificación 2' },
        { title: 'Notificación 3' },
        { title: 'Notificación 4' },
      ],
    };
  },
  methods: {
    signout() {
      this.$store.commit('LOGOUT');
      this.$router.push('/auth/login');
    },
  },
  watch: {
    drawer() {
      this.isDrawer = this.drawer;
    },
    isClipped() {
      this.$emit('clipped', this.isClipped);
    },
    isDrawer() {
      this.$emit('drawer', this.isDrawer);
    },
    isFixed() {
      this.$emit('fixed', this.isFixed);
    },
    isMiniVariant() {
      this.$emit('miniVariant', this.isMiniVariant);
    },
    isRightDrawer() {
      this.$emit('rightDrawer', this.isRightDrawer);
    },
  },
};
</script>
