<template >
  <v-container class="signin-main" fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12>
        <SignInForm :is="signInForm"/>
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  export default {
    data: () => ({}),
    watch: {
      '$store.state.auth.isChecked': function () {
        if (this.$store.state.auth.isAuth) this.$router.push('/');
      },
    },
    computed: {
      signInForm() {
        return () => import(/* webpackChunkname: "user-table" */'../../components/auth/LoginForm');
      },
    },
  };
</script>
