<template>
  <v-card>
    <v-card-title class="elevation-2">
      <v-btn color="green" dark @click="createUser()" round>
        Create new
      </v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        label="Search"
        single-line
        hide-details
        v-model="search"
        item-key="name"
        select-all
      />
      <v-btn icon @click="fetch()" class="grey--text text--darken-2" :loading="loading">
        <v-icon>refresh</v-icon>
      </v-btn>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="users"
      :pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
      item-key="name"
      v-model="selected"
      :rows-per-page-items="[10, 15, 25, {text: 'All', value: -1}]"
    >

      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
        <span slot="activator" v-on:dblclick="search = props.header.text">
          {{ props.header.text }}
        </span>
          <span v-on:dblclick="search = props.header.text">
          {{ props.header.text }}
        </span>
        </v-tooltip>
      </template>

      <template slot="items" slot-scope="props">
        <td class="text-xs-center table-row">{{ props.item.email }}</td>
        <td class="text-xs-center table-row">{{ props.item.name }}</td>
        <td class="text-xs-center table-row">{{ props.item.surname }}</td>
        <td class="text-xs-center table-row">{{ props.item.company && props.item.company.name }}</td>
        <td class="justify-center align-center layout px-0">
          <v-btn small icon class="mx-0" @click="editUser(props.item)">
            <v-icon class="blue--text">edit</v-icon>
          </v-btn>
          <v-menu offset-y left >
            <v-btn slot="activator" small icon class="mx-0">
              <v-icon class="red--text">delete</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile>
                <v-list-tile-title class="text-xs-center grey--text text--darken-2">Eliminar ?</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="deleteUser(props.item.id)">
                <v-list-tile-title class="text-xs-center green--text">Si</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>

      </template>
    </v-data-table>
    <UserForm :show="userFrom" :onClose="closeUserForm" :user="user" :submit="submit" :loading="loading"/>
  </v-card>
</template>

<script>
  import api from '../../api/user';
  import User from '../../models/User';
  import UserForm from './UserForm';

  export default {
    components: { UserForm },
    data: () => ({
      users: [],
      user: new User(),
      headers: [
        {
          text: 'Email',
          align: 'center',
          value: 'email',
        },
        {
          text: 'Name',
          align: 'center',
          value: 'name',
        },
        {
          text: 'Surname',
          align: 'center',
          value: 'surname',
        },
        {
          text: 'Company',
          align: 'center',
          value: 'company_id',
        },
        {
          text: 'Acctions',
          value: 'iron',
          align: 'center',
          sortable: false,
        },
      ],
      search: '',
      totalItems: 0,
      pagination: {},
      selected: [],
      loading: false,
      userFrom: false,
    }),
    methods: {
      fetch() {
        const { page, rowsPerPage, sortBy, descending } = this.pagination;
        this.loading = true;
        api.fetch({
          page,
          rowsPerPage,
          sortBy,
          descending: descending ? 'desc' : 'asc',
          search: this.search,
        }).then((res) => {
          const { data, total } = res.data;
          this.users = data;
          this.totalItems = total;
          this.loading = false;
        });
      },
      createUser() {
        this.userFrom = true;
      },
      editUser(row) {
        this.user = row;
        this.userFrom = true;
      },
      deleteUser(id) {
        api.delete(id)
          .then(() => {
            this.fetch();
            this.userFrom = false;
          })
          .catch(() => {
            this.userFrom = false;
          });
      },
      closeUserForm() {
        this.user = new User();
        this.userFrom = false;
      },
      submit(user) {
        this.loading = true;
        if (user.id) {
          api.update(user)
            .then(() => {
              this.fetch();
              this.userFrom = false;
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          user.boss = 0;
          api.create(user)
            .then(() => {
              this.fetch();
              this.userFrom = false;
            })
            .catch(() => {
              this.loading = false;
            });
        }
      },
    },
    mounted() {
      this.fetch();
    },
    watch: {
      pagination: {
        handler() {
          this.fetch();
        },
        deep: true,
      },
      search() {
        this.fetch();
      },
    },
  };
</script>
