<template>
  <v-dialog v-model="show" persistent max-width="590px" scrollable>
    <v-card>
      <v-card-title class="elevation-0 grey lighten-4 ">
        <span class="headline">Admin User Creator </span>
        <v-spacer/>
        <v-btn flat icon @click="onClose()">
          <v-icon>close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text style="max-height: 600px;">
        <v-container grid-list-md>
          <v-form v-model="valid" ref="formUser" lazy-validation>
          <v-layout wrap>
            <v-flex xs6>
              <v-text-field
                label="First Name"
                required
                v-model="row.name"
                :rules="[rules.empty]"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                label="User"
                required
                v-model="row.email"
                :rules="[rules.empty, rules.email]"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                label="Surname"
                required
                v-model="row.surname"
                :rules="[rules.empty]"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                label="Password"
                required
                v-model="row.password"
                :rules="[rules.empty]"
              />
            </v-flex>
            <v-flex xs12>
              <v-text-field
                label="Email"
                required
                v-model="row.email"
                :rules="[rules.empty]"
              />
            </v-flex>
            <v-flex>
              <v-select
                :items="userTypes"
                v-model="row.type"
                label="Tipo"
                :rules="[rules.empty]"
              />
            </v-flex>

          </v-layout>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions class="elevation-4">
        <v-spacer></v-spacer>
        <v-btn flat @click="onClose()" :disabled="loading">Close</v-btn>
        <v-btn flat @click="submit(row)" :loading="loading">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import User from '../../models/User';
  import { userTypes } from '../../enums/index';
  import { rules } from '../../plugins/util';

  export default {
    props: {
      show: Boolean,
      onClose: Function,
      user: Object,
      submit: Function,
      loading: Boolean,
    },
    data: () => ({
      row: new User(),
      userTypes,
      rules,
      valid: true,
    }),
    methods: {
      validate() {
        if (this.$refs.formUser.validate()) {
          this.submit();
        }
      },
    },
    watch: {
      show() {
        this.$refs.formUser.reset();
        this.row = new User(this.user);
      },
    },
  };
</script>
