<template>
  <v-container  grid-list-sm>
    <h1>Index</h1>
  </v-container>
</template>

<script>
  import AsyncComponent from '../components/common/AsyncComponent';

  export default {
    components: { AsyncComponent },
    data: () => ({
    }),
    methods: {
    },
    mounted() {
    },
  };
</script>
