<template>
  <v-container>
    <h1>User Management</h1>
    <AsyncComponent :component="userTable" widthLoading/>
  </v-container>
</template>

<script>
  import AsyncComponent from '../../components/common/AsyncComponent';

  export default {
    components: { AsyncComponent },
    data: () => ({
      userTable: null,
      userForm: null,
    }),
    mounted() {
      this.userTable = 'user/UserTable';
    },
  };
</script>
