<template>
  <v-container fluid >
    <v-card>
      <v-container fluid grid-list-lg >
        <v-layout row wrap class="justify-center align-center text-xs-center">
          <v-flex
            xs12
            sm4
            lg4
            v-for="item in items"
            :key="item.title"
          >
            <v-card class="elevation-4 pt-2 pb-2 setting-box" height="233">
              <v-card-title class="text-xs-center">
                <v-spacer></v-spacer>
                  <h3 class="title">{{ item.title }}</h3>
                <v-spacer></v-spacer>
              </v-card-title>

              <v-card-text class="tabs-info">
                <v-icon style="font-size: 55px; color:rgb(79, 128, 255)">{{ item.icon }}</v-icon>
              </v-card-text>
              <v-card-text class="tabs-info pb-1">
                <p v-html="item.text"></p>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      items: [
        {
          title: 'Pedriodos',
          text: 'Establece los periodos del sistema (Ej. Todo 2018, 1Q 2018, 2Q 2018, etc.)',
          icon: 'date_range',
        },
        {
          title: 'Revisiones',
          text: 'Establece la periodicidad de los intervalos de revisión',
          icon: 'update',
        },
        {
          title: 'Categorías Jerárquicas',
          text: 'Establece las categorías jerárquicas de la empresa',
          icon: 'layers',
        },
        {
          title: 'Categorías de Objetivos',
          text: 'Determina las categorías de objetivos disponibles para toda la organización',
          icon: 'bookmark',
        },
        {
          title: 'Objetivos Organizacionales',
          text: 'Establece los objetivos organizacionales',
          icon: 'explore',
        },
        {
          title: 'Competencias',
          text: 'Establece las competencias que se asignarán al equipo',
          icon: 'account_balance',
        },
        {
          title: 'Rangos de Evaluación',
          text: 'Establece los rangos de cumplimiento de objetivos',
          icon: 'content_paste',
        },
        {
          title: 'Recordatorios',
          text: 'Determina la frecuencia de envío de recordatorios',
          icon: 'add_alarm',
        },
      ],
    }),
  };
</script>
