<template>
  <v-app>
    <v-content>
      <router-view/>
    </v-content>
    <v-snackbar  v-model="isMessage" :error="$store.state.message.type === 'error'" :success="$store.state.message.type === 'success'" :info="$store.state.message.type === 'info'">
      {{this.$store.state.message.msg}}
      <v-btn flat class="white--text" @click.native="isMessage = false">Cerrar</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        isMessage: false,
      };
    },
    watch: {
      '$store.state.isMessage': function () {
        this.isMessage = this.$store.state.isMessage;
      },
      isMessage() {
        if (!this.isMessage) this.$store.commit('SET_MESSAGE', {});
      },
    },
  };
</script>
