<template>
  <v-card class="elevation-0 signin-form-wrapper">
    <v-card-title class="justify-center">
      <img class="signin-logo" src="../../assets/images/logo.png">
    </v-card-title>
    <v-card-text>
      <v-form v-model="valid" ref="form" lazy-validation dark>
        <v-text-field v-model="user.email"
                      prepend-icon="person"
                      name="pin"
                      label="Email"
                      type="text"
                      :disabled="loading"
                      :rules="email"
                      color="white"
                      @keyup.enter="submit"
                      dark
        />
        <v-text-field v-model="user.password"
                      prepend-icon="lock"
                      name="password"
                      label="Password"
                      type="password"
                      :disabled="loading"
                      :rules="passwordRule"
                      color="white"
                      @keyup.enter="submit"
                      dark
        />
        <v-checkbox
          dark
          label="Remember me"
          v-model="user.remember"
        />
      </v-form>
    </v-card-text>
    <v-card-actions class="justify-center">
      <v-btn  @click="submit"
              color="white"
             :loading="loading"
             :disabled="loading">Login</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  import api from '../../api/user';

  export default {
    data: () => ({
      loading: false,
      valid: true,
      user: {
        email: '',
        password: '',
        remember: true,
      },
      passwordRule: [
        v => !!v || 'La contraseña es requerida',
        v => (v && v.length >= 8) || 'Debe de contener 8 caracteres',
      ],
      email: [
        v => !!v || 'El PIN es requerido',
      ],
    }),
    methods: {
      clear() {
        this.$refs.form.reset();
      },
      submit() {
        if (this.$refs.form.validate()) {
          this.loading = true;
          api.login(this.user)
            .then((r) => {
              this.$store.dispatch('setCurrentUser', r.data).then(() => {
                if (this.$store.state.auth.isAuth) this.$router.push(this.$route.query.redirect || '/');
              });
              this.loading = false;
            }).catch((err) => {
              this.$store.commit('SET_MESSAGE', err.response.data);
              this.loading = false;
            });
        }
      },
    },
    mounted() {
    },
    destroyed() {
    },
  };
</script>
